.cash-coupon
  width 714px
  height 208px
  box-sizing: border-box
  background-size: 100%
  background-repeat: no-repeat
  background-position: 0 center
  padding 0 6px 12px

  .secondary
    position relative
    width 248px
    height 100%
    font-weight bold
    background-size: 100%
    padding-bottom 6px

    .money-wrap
      color: #fff
      margin-left -20px
      font-size: 46px
    .money
      font-size: 94px
      line-height 1
    .info
      font-size: 24px
      font-weight normal
      padding-left 20px
  .middle-bg
    width 40px

  .content
    position relative
    height 100%
    padding 30px 40px
    box-sizing: border-box

    .head
      line-height 1
      font-weight bold
    .label
      line-height 1
      font-size: 30px
      font-weight bold
      margin-left 2px
    .date
    .info
        font-size: 22px
        color: #999
        position: "absolute"
        bottom: 1.05rem
        left :0.25rem
        padding: 0
  &.active
    .secondary
      color: #fff
      // background:linear-gradient(#5d91e0,#6080de);
      .money
        color: #fff
      .info
        color: #fff
  

