.cash_coupon3
  width 714px
  height 208px
  box-sizing: border-box
  position relative
  .image
    position absolute
    width:100%
    height:100%
    z-index :0
  .coupon3_box
    display: flex
    width 714px
    height 208px
    .left_coupon3
      width 248px
      height 100%
      display: flex
      color: #fff
      position relative
      z-index: 10
      .left_label
        font-size: 22px
        text-align: center
        width 34px
        height 100%
        background: #264BA8
        border-radius: 5px
        box-sizing: border-box
        display: flex
        align-items: center
      .left_text3
        padding-top: 44px
        color: #fff
        width 200px
        .text_title3
          color: #fff
          font-size: 26px
          text-align: center
        .text_span3
          color: #fff
          font-size: 32px
        .text_money3
          font-size: 70px
          color: #fff
          text-align: center
          line-height: 1
    .right_coupon3
      padding-top: 30px
      padding-left: 40px
      width 460px
      box-sizing: border-box
      position relative
      z-index: 10
      .right_one
        display: flex
        width 100%
        align-items: center
        .right_label
          width 80px
          height 26px
          color: #ffffff
          background: #5d84e0
          text-align: center
          line-height: 26px
          font-size: 16px
      .right_two
        color: #ababab
        font-size: 20px
      .right_three
        margin-top: 40px
        padding-right: 20px
        position relative
        .right_sign
          position: absolute
          top: -34px
          font-size: 16px
          color: #fff
          left: 25%
          height 34px
          background: url('../../../assets/sign.png')
          background-repeat: no-repeat
          background-size: 100%
          width 50px
          text-align: center
        .right_money
          display: flex
          justify-content: space-between
          font-size: 16px
