@import '../../utils/config.styl'

.order
  height 100vh
  position relative
  .msgBox
    position absolute
    width 14rem
    height  10rem
    left 50%
    top 50%
    margin-left -7rem
    margin-top -5rem
    .imgBox
      position absolute
      width 5rem
      height  5rem
      left 50%
      top 0
      margin-left -2.5rem
      .logo
        width 100%
        height 100%
    ._msg
      position absolute
      top 65%
      width 100%
      font-size 28px
      color #313131
      text-align center
    .toHome
      position absolute
      top 85%
      left 50%
      width 8rem
      margin-left -4rem
      font-size 32px
      height  2rem
      text-align center
      line-height 2
      border 2px solid #999999
      color #666666
      // background: linear-gradient(to bottom , #cccccc, #ffffff);
      border-radius .25rem
.content-wrap
  overflow-y: scroll

.content
  padding-bottom 30px

.tiket_box
  padding 20px 0 0 15px
