.landing_bounced {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.6);
    z-index 999
    .alert-box {
      width 598px
      height 520px
      background: #fff;
      border-radius: 10px
      padding-top: 60px;
      .alert-title {
        width 100%
        text-align: center
        font-size: 32px
        color: #010101
        font-weight: bold
        margin-bottom: 10px
      }
      .alert-text {
        width 100%
        text-align: center
        color: #999999
        font-size: 32px
      }
      .alert-img {
        width 100%
        height 204px
        display: flex
        justify-content: center
        margin-top: 30px
        margin-bottom: 40px
         Image {
          width 155px
          height 204px
        }
      }
      .alert-button-box {
        width 100%
        height 76px
        display: flex
        justify-content: space-between
        padding: 0 66px
        font-size: 30px
        box-sizing: border-box
        Text {
          width 223px
          height 100%
          text-align: center
          line-height: 76px
          border-radius:38px;
        }
        .alert-button-close {
          border:1px solid rgba(153,153,153,1);
          color: #999
        }
        .alert-button-login {
          width 223px
          font-size: 30px
          height 100%
          text-align: center
          line-height: 76px
          border-radius:38px;
          background:rgba(255,68,68,1);
          color: #fff;
        }
      }
    }
  }
