.activity-item
  padding 0 22px
  background-color #fff
  margin-bottom 22px
  font-size 29px
  color #333
  .area-time,
  .area-info,
  .area-bottom
    display flex
    padding 20px 0
  .area-bottom
    align-items center
    justify-content space-between
    .desc
      display flex
      align-items center
      .text
        margin-left 10px
    .action
      display inline-block
      height 60px
      margin 0
      font-size 24px
      color #fff
      background-color rgba(255, 153, 0, 1)
  .area-time
    justify-content space-between
    border-bottom 2px solid rgba(229, 229, 229, 1)
    .start
      color rgba(153, 153, 153, 1)
    .surplus-time
      color rgba(251, 78, 68, 1)
  .area-info
    border-bottom 2px solid rgba(229, 229, 229, 1)
    .avatar
      width 147px
      height 147px
      background-color rgba(229, 229, 229, 1)
      margin-right 20px
      border-radius 5px
      overflow hidden
      .icon
        width inherit
        height inherit
    .description
      position relative
      flex 1
      .item
        color rgba(51, 51, 51, 1)
        margin-bottom 5px
      .participator-wrapper
        display flex
        .participator
          width 70px
          height 70px
          background-color rgba(229, 229, 229, 1)
          border-radius 50%
          margin-right 10px
        
      .group 
        .number
          color #000
          font-size 28px
          margin-right 20px
        .amount 
          color rgba(255, 153, 0, 1)
          font-size 36px
          position relative
          padding-left 18px
          font-weight 700
          &:after
            position absolute
            content "¥"
            bottom 2px
            left 0
            font-size 24px

// .area-bottom .btn {
//   display: inline-block;
//   height: 60px;
//   margin: 0;
//   font-size: 24px;
//   color: #fff;
//   background-color: rgba(255, 153, 0, 1);
// }

/* type-zero */
// .description .action {
//   position: absolute;
//   top: 0;
//   right: 0;
//   color: rgba(255, 153, 0, 1);
//   border: 2px solid rgba(255, 153, 0, 1);
//   background-color: #fff;
//   border-radius: 5px;
//   padding: 4px 10px;
// }

// .description .process {
//   width: 250px;
//   margin-bottom: 20px;
// }
// .description .process-tips {
//   color: rgba(153, 153, 153, 1);
//   font-size: 24px;
// }

// .mb-20 {
//   margin-bottom: 20px;
// }