.apply-page
  width 100%
  background: #ffffff
  box-sizing: border-box
  border-radius: 16px
  padding: 30px
  height auto
  min-height: 220px
  line-height: 1
  .apply-title-box
    display: flex
    align-items: center
    margin-bottom: 30px
    .apply-title-left
      width: 8px
      height 25px
      background: #FF4444
      border-radius: 4px
      margin-right: 11px
    .apply-title
      font-size: 36px
      font-weight: bold
  .apply-main
    display: flex
    .store-img
      width 160px
      height 160px
      border-radius: 16px
    .store-detail
      height 100%
      padding: 20px
      flex: 1
      .store-name-box
        display: flex
        justify-content: space-between
        margin-bottom: 35px
        .store-name
          font-size: 36px
          font-weight: bold
        .store-icon
          .icon
            width 34px
            height 40px
          .phone
            margin-right: 30px
      .store-text
        color: #999999
        font-size: 22px
        margin-bottom: 9px

