/* pages/auth/auth.wxss */
.auth
  height 100vh
  padding 0 50px
  .logo-wrapper
    padding 200px 0 50px 0
    text-align center
    border-bottom 2px solid #ccc
    .logo
      width 160px
      height 160px
      border-radius 20px
      border 2px solid #f1f1f1
  .description
    .item
      margin-top 10px
      color #999
      font-size 28px
      &:first-child
        font-size 34px
        color #333
  .action
    margin-top 60px
    color #fff
    background-color rgb(30, 161, 21)
  .close
    text-align: center
    padding-top: 30px
    color: #999
