@import '/src/utils/config.styl'
@import '/src/app.styl'
.tab
    height 70px
    background: #fff
    .label
      height 100%
      line-height 70px
      border-bottom 4px solid #fff
    >.active
      .label
        color theme-color
        border-bottom 4px solid theme-color
