.search-wrap
  padding 24px 0
  background: #fff
.current-tip
  color: #666
  font-size: 24px
  margin-top 20px
  padding-left 28px

.current-position
  padding: 0 32px 30px
  margin-top 30px
  .name
    font-size: 32px
    font-weight bold
    margin-left 10px
  .btn
    color: #FF6654
.bg
  height 20px
  background: #f4f4f4

// .hot-list
//   padding 20px 40px 0
//   &:after
//     content: ''
//     clear both
//     display block
//   .city
//     padding 24px 60px
//     background:rgba(245,245,245,1);
//     border-radius:5px;
//     line-height 1
//     float left
//     margin-right 18px
//     margin-bottom 18px

.at-indexes__list-title
  background: #fff
  padding-top 40px
.at-list
  &:after
    border none
.at-list__item
  &:after
    border 1px solid #999999
.at-list__item .item-content__info-title
  font-size: 32px
.big-item 
	padding 36px 0px 36px 5px
	.item 
		width:30%
		margin: 0 11px
		text-align: center
		display: inline-block
		padding:23px 0px
		margin-bottom: 14px
		line-height: 1
		background: rgba(245, 245, 245, 1)
		border-radius: 5px
	

