.cash-coupon-box
  width 714px
  height 208px
  box-sizing: border-box
  position relative
  .image
    position absolute
    width:100%
    height:100%
    z-index :0
  .cash-coupon
    width 714px
    height 208px
    box-sizing: border-box
    background-size: 100%
    background-repeat: no-repeat
    background-position: 0 center
    padding 0 6px 12px
    position absolute
    left 0
    top 0
    z-index :1
    .image
      width 100%
      height:100%
      z-index inherit 0
    .secondary
      position relative
      width 248px
      height 100%
      font-weight bold
      background-size: 100%
      padding-bottom 6px

      .money-wrap
        color: #fff
        margin-left -20px
        font-size: 46px
        padding-top: 30% 
      .money
        font-size: 94px
        line-height 1
      .info
        font-size: 24px
        font-weight normal
        padding-left 20px
        padding-top: 0;
        text-align: center;
    .middle-bg
      width 40px

    .content
      position relative
      height 100%
      padding 30px 40px
      box-sizing: border-box

      .head
        line-height 1
        font-weight bold
      .label
        line-height 1
        color: #fff
        font-size: 19px
        background: #C5C5C5
        padding 0 14px
        border-radius: 2px
        font-weight normal
        margin-right 2px
      .date
      .info
        font-size: 22px
        color: #999
        padding: 0
        margin 10px 0 
      ._free
        position absolute
        right 40px
        bottom 20px
        font-size 30px
        color #EE3131
    &.active
      .secondary
        color: #fff
        // background:linear-gradient(#5d91e0,#6080de);
        .money
          color: #fff
        .info
          color: #fff
      .label
        background: #5D84E0

