
.set-meal
    .set-meal__tit
        font-size: 36px
        margin-bottom: 24px
        .fwb
            font-weight: bold
    .ft-more
        margin-top: 16px
        color #999
        padding-bottom: 20px
        border-bottom: 1px solid rgba(0,0,0,0.07)
        .taro-text
            transform: rotate(90deg)
    .pd30
        padding: 30px
    .bcff
        background-color: #fff
    .mt20
        margin-top: 20px
    .swiper
        .image
            width 100%
    .info
        padding: 30px
        .tit
            font-size: 38px
            line-height 1
        .desc
            font-size: 26px
            margin-bottom: 20px
        .tags
            .tag-text
                padding 1px 8px
                border-radius: 6px
                border: 2px solid #FA5D49
                font-size: 24px
                color: #FA5D49
                margin-right: 12px
        .image
                width 40px
                height 40px
                float right

    .shop
        .image
            width 113px
            height 113px
            border-radius 8px
        .item
            padding-left: 30px
        .address-view
            font-size: 28px
            color #313131
            padding: 34px 0 29px
            .address-image
                width 30px
                height 30px
                margin-right 0
            .mobile-image
                height 30px
                width 40px
                padding-left: 34px
            .distance
                width:100px;
                font-size: 24px;
                text-align center
            .text
                border-left: 1px solid #999999
                border-right: 1px solid #999999
                overflow hidden
                text-overflow: ellipsis
                white-space: nowrap
                padding: 0 15px
                height: 28px
                line-height: 28px
    .remark
        .label
            font-size: 30px
            color: #999999
            line-height:38px;
            margin-bottom: 24px
        .label-value
            font-size: 28px
            color #313131
            margin-bottom: 37px
            &:last-child
                margin-bottom: 0
    .graphic-details
        .image
            width 100%
    .occupied
        height 150px
    .layer-ft-buy
        position: fixed
        left 0
        right 0
        bottom: 0
        border:1px solid rgba(225, 225, 225, 1);
        box-shadow:0px -4px 12px 1px rgba(0, 0, 0, 0.1);
        background-color: #fff
        justify-content: space-between
        align-items: center
        padding: 0 30px
        .money
            color #EE3131
            font-size: 40px
            .count
                font-size: 68px
        .btn-buy
            width:220px;
            height:74px;
            background:linear-gradient(90deg,#FE7450,#FF2614);
            border-radius:37px;
            font-weight:bold;
            font-size:30px;
            border: none;
            color #fff
            &:after
                border: none;
