
.set-meal
    .set-meal__tit
        font-size: 36px
        margin-bottom: 24px
        .fwb
            font-weight: bold
    .set_Meal_store 
        height: 315px;
        background: #f4f4f4;
        border: none;
        margin: 24px 0;

        .setMeal_store_box 
            width: 100%;
            height: 100%;
            background: #fff;
            padding: 23px 40px 28px 30px;
            box-sizing: border-box;

            .setMeal_store_title 
                height: 60px;
                text-align: left;
                font-weight: bold;
                font-size: 40px;
                line-height: 1;

            .setMeal_store_storebox 
                height: 115px;
                width: 100%;
                box-sizing: border-box;

                .setMeal_store_Image 
                    height: 115px;
                    width: 115px;
                    overflow: hidden;
                    border-radius: 8px;
                    float: left;

                    .setMeal_store_img 
                        width: 100%;
                        height: 100%;
                    
                .setMeal_store_msg 
                    width: 500px;
                    padding: 0 0 15px 25px;
                    box-sizing: border-box;
                    float: left;

                    .setMeal_store_name 
                        height: 50px;
                        font-size: 35px;
                        font-weight: bold;
                        text-align: left;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    

                    .setMeal_store_price 
                        font-size: 24px;
                        text-align: left;
                        color: #666666;
                    
                

                .setMeal_store_icon 
                    height: 100%;
                    width: 40px;
                    box-sizing: border-box;
                    color: #666666;
                    padding-top: 30px;
                    float: right;
                
            

            .setMeal_store_addressbox 
                width: 100%;
                height: 80px;
                padding-top: 35px;
                box-sizing: border-box;
                display: flex;
                line-height: 40px;

                .setMeal_store_distance 
                    width: 115px;
                    position: relative;
                    float: left;
                    border-right: 1px #ccc solid;

                    .setMeal_store_distance_Image 
                        width: 30px;
                        height: 40px;
                        position: absolute;
                        left: 0;

                        .setMeal_store_distance_AddressImg 
                            width: 30px;
                            height: 40px;
                        
                    

                    .setMeal_store_distance_info 
                        height: 40px;
                        position: absolute;
                        left: 30px;
                        width: 85px;
                        text-align: center;
                        font-size: 18px;
                    
                

                .setMeal_store_address 
                    flex: 1;
                    padding: 0 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 26px;
                

                .setMeal_store_mobile 
                    width: 60px;
                    height: 40px;
                    padding-left: 30px;
                    float: right;
                    border-left: 1px #ccc solid;

                    .setMeal_store_MobileImg 
                        width: 30px;
                        height: 40px;
                        float: right;


    .ft-more
        margin-top: 16px
        color #999
        padding-bottom: 20px
        border-bottom: 1px solid rgba(0,0,0,0.07)
        .taro-text
            transform: rotate(90deg)
    .pd30
        padding: 30px
    .bcff
        background-color: #fff
    .mt20
        margin-top: 20px
    .swiper
        .image
            width 100%
    .info
        padding: 30px
        .tit
            font-size: 38px
            line-height 1
        .desc
            font-size: 26px
            margin-bottom: 20px
        .tags
            .tag-text
                padding 1px 8px
                border-radius: 6px
                border: 2px solid #FA5D49
                font-size: 24px
                color: #FA5D49
                margin-right: 12px
        .image
                width 40px
                height 40px
                float right

    .shop
        .image
            width 113px
            height 113px
            border-radius 8px
        .item
            padding-left: 30px
        .address-view
            font-size: 28px
            color #313131
            padding: 34px 0 29px
            .address-image
                width 30px
                height 30px
                margin-right 0
            .mobile-image
                height 30px
                width 30px
                padding-left: 34px
            .distance
                width:100px;
                font-size: 24px;
                text-align center
            .text
                border-left: 1px solid #999999
                border-right: 1px solid #999999
                overflow hidden
                text-overflow: ellipsis
                white-space: nowrap
                padding: 0 15px
                height: 28px
                line-height: 28px
    .remark
        .label
            font-size: 30px
            color: #999999
            line-height:38px;
            margin-bottom: 24px
        .label-value
            font-size: 28px
            color #313131
            margin-bottom: 37px
            &:last-child
                margin-bottom: 0
    .graphic-details
        .image
            width 100%
    .occupied
        height 150px
    .layer-ft-buy
        position: fixed
        left 0
        right 0
        bottom: 0
        border:1px solid rgba(225, 225, 225, 1);
        box-shadow:0px -4px 12px 1px rgba(0, 0, 0, 0.1);
        background-color: #fff
        justify-content: space-between
        align-items: center
        padding: 0 30px
        .money
            color #EE3131
            font-size: 40px
            .count
                font-size: 68px
        .btn-buy
            width:220px;
            height:74px;
            background:linear-gradient(90deg,#FE7450,#FF2614);
            border-radius:37px;
            font-weight:bold;
            font-size:30px;
            border: none;
            color #fff
            &:after
                border: none;

.go_home
    width 120px
    height 120px