.page {
	height: 100vh;
}

.shop {
	width: 702px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 23px 1px rgba(124, 19, 7, 0.1);
	border-radius: 5px;
	padding: 15px 24px;
	margin: 33px 25px;
	box-sizing: border-box;
	.head {
		.title {
			font-style: 30px;
			font-weight: bold;
			color: #313131;
		}
		.merchant-icon {
			width: 34px;
			height: 31px;
			margin-right: 8px;
		}
		.share-icon {
			width: 28px;
			height: 28px;
			margin-right: 12px;
		}
		.share-btn {
			width: 130px;
			height: 47px;
			background: rgba(255, 191, 19, 1);
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
			border-radius: 5px;
			text-align: center;
			line-height: 47px;
			font-style: 24px;
			color: rgba(97, 63, 4, 1);
		}
	}

	.coupon {
		.img {
			width: 100%;
		}
	}

	.time {
		font-style: 24px;
		color: #999999;
		text-align: right;
	}
}

.progress {
	padding: 0 30px;
	.bar {
		position: relative;
		padding: 60px 16px 0;
		.tip {
			position: absolute;
			width: 65px;
			height: 36px;
			top: 0;
			background: rgba(255, 102, 84, 1);
			border-radius: 4px;
			color: #fff;
			text-align: center;
			line-height: 36px;
			font-size: 22px;
		}
		.bar-bg {
			background: rgba(239, 239, 239, 1);
			box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.66);
			border-radius: 9px;
			padding: 6px;
			box-sizing: border-box;
		}
		.bar-line {
			height: 14px;
			background: linear-gradient(90deg, rgba(255, 148, 20, 1), rgba(255, 144, 0, 1), rgba(255, 38, 20, 1));
			border-radius: 5px;
		}
	}
	.info {
		margin-top: 22px;
		line-height: 1;
		.item {
			font-style: 24px;
		}
		.item:last-child {
			text-align: right;
		}
	}
}

.invite-btn {
	height: 91px;
	background: linear-gradient(90deg, rgba(255, 148, 20, 1), rgba(254, 134, 88, 1), rgba(255, 23, 9, 1));
	border-radius: 10px;
	margin: 30px;
	font-size: 32px;
	color: #fff;
	text-align: center;
	line-height: 91px;
}

.content {
	margin: 30px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 23px 1px rgba(124, 19, 7, 0.1);
	border-radius: 5px;
	padding: 0 26px;
	.title {
		padding: 30px;
		line-height: 1;
		text-align: center;
	}
}

.friend-item {
	padding: 6px 0 6px 6px;
	border-bottom: 1px solid #e5e5e5;
	.user-logo {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		background-color: #fcc;
		margin-right: 30px;
	}
	.name,
	.info {
		font-style: 24px;
		margin-right: 40px;
	}

	.time {
		font-style: 20px;
	}
}
