.over{
  overflow: hidden;
  // border: 1px solid red;
}

.line {
  // padding:6px 35px; 
  padding:6px 40px 10px 62px; 
  border-bottom:1px solid #ededed;
  display:flex;
  justify-content:space-between;
  background-color: #fff;
}

.click-line {
  color:#fe7b70;
}