.merchant-details
    .bcfff
        background-color: #fff
    .shop
        .top-view
            padding: 25px 50px 25px 26px
            .name
                font-size: 46px
                color: #313131
                margin-bottom: 19px
            .money
                font-size: 26px
                color: #999999
            .image
                width 40px
                height 40px
        .scroll-view
            .flex
                width: max-content
                .image
                    width 346px
                    height 226px
                    margin: 0 5px
        .address
            padding: 47px 52px 47px 28px
            .text
                padding: 0 30px
            .address-img
                width 21px
                height 30px
            .mobile-img
                width 30px
                height 30px
    .group-purchase
        margin-top: 11px
        padding: 24px 24px 0
        .hd
            padding-bottom: 24px
            border-bottom: 1px solid #E5E5E5

            .desc
                text-overflow: ellipsis
                white-space: nowrap
                overflow hidden
                padding-right: 10px
            .count
                padding: 0 24px
                color #FF3922
                font-size: 24px
                background-color: #FDE8E5
                border-radius: 5px
        .image-list
            padding: 25px 0
            .image
                width: calc((100% - 9px) / 2)
                height 192px
                border-radius: 10px
                &:last-child
                    margin-left: 9px
        .ft
            .money
                font-size: 40px
                font-weight: bold
                color #ED6B24
            .count
                font-size: 24px
                color: #999999
                margin-left: 17px
            .btn-go
                width 190px
                background:linear-gradient(90deg,rgba(255,148,20,1),rgba(254,134,88,1),rgba(255,23,9,1));
                border-radius: 5px
                color #fff
                font-size: 24px
                border: none
                &:after
                    display none
    .ft-more
        margin-top: 16px
        color #999
        padding-bottom: 20px
        border-bottom: 1px solid rgba(0,0,0,0.07)
        .taro-text
            transform: rotate(90deg)
    .merchant-details__tit
        font-size: 36px
        .mark
            font-size: 19px
            color: #fff
            background-color: #D97B0B
            padding: 3px 8px
            border-radius: 2px
            margin-right: 16px
            &.bc5D84E0
                background-color:#5D84E0
        .fwb
            font-weight: bold
    .ticket
        padding: 24px 24px 0
        .ticket-view
            min-height 184px
            padding: 0 33px
            background-color: #FFFAF4
            border: 1px solid #FFEBCD
            margin-top: 34px
            position relative
            &:after,
            &:before
                display block
                content: ''
                width 30px
                height 30px
                border-radius: 100%
                background-color: #fff
                position: absolute
                top: 50%
                transform: translate(0,-50%)
                border: 1px solid #FFEBCD
            &:after
                right -15px
                border-right-color: transparent
                border-top-color:  transparent
                transform: translate(0,-50%) rotateZ(45deg)
            &:before
                left: -15px
                border-left-color: transparent
                border-top-color:  transparent
                transform: translate(0,-50%) rotateZ(-45deg)
            .left
                padding-right: 30px
                .money
                    font-size: 30px
                    color #313131
                .desc
                    font-size: 22px
                    color: #666666
                .sales
                    font-size: 20px
                    color #999999
            .right
                .btn-buy
                    height 44px
                    line-height: 44px
                    border-radius: 5px
                    background:linear-gradient(90deg,rgba(255,148,20,1),rgba(254,134,88,1),rgba(255,23,9,1));
                    color: #fff
                    border: 0
                    font-size: 24px
                    padding: 0 20px

    .discounts-view
        padding: 0 24px
        .discounts-cell
            padding: 45px 0
            border-bottom: 1px solid rgba(0,0,0,.07)
            .image
                width 160px
                height 160px
            .discounts-cell__bd
                padding-left: 23px
                .tit
                    font-size: 30px
                    color #333333
                    margin-bottom: 16px
                .desc
                    font-size: 24px
                    color #666666
                    text-overflow: ellipsis
                    white-space: nowrap
                    overflow hidden
                    margin-bottom: 20px
                .money
                    color: #EE3131
                    font-size: 30px
                .count
                    font-size: 24px
                    color #999
                .btn-buy
                    width 134px
                    height 44px
                    line-height: 44px
                    border-radius: 5px
                    background:linear-gradient(90deg,rgba(255,148,20,1),rgba(254,134,88,1),rgba(255,23,9,1));
                    color: #fff
                    border: 0
                    font-size: 24px
                    padding: 0 20px
    .recommend-view
        padding: 24px
        margin-top: 20px
        .recommend-cell
            padding: 28px 0
            border-bottom: 1px solid #E5E5E5
            .image
               width 144px
               height 144px
            .recommend-cell__bd
                padding-left: 22px
                .tit
                    font-size: 34px
                    margin-bottom: 17px
                .mb33
                    margin-bottom: 33px
                .center
                    font-size: 24px
                    color #999999
                    justify-content: space-between
                    .money
                        font-size: 30px
                        color: #FF850B




