@font-face {
  font-family: 'iconfont';  /* project id 1010422 */
  src: url('//at.alicdn.com/t/font_1010422_4vnx2i3ifct.eot');
  src: url('//at.alicdn.com/t/font_1010422_4vnx2i3ifct.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1010422_4vnx2i3ifct.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1010422_4vnx2i3ifct.woff') format('woff'),
  url('//at.alicdn.com/t/font_1010422_4vnx2i3ifct.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1010422_4vnx2i3ifct.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}