@import '../../utils/config.styl'
.head
  // height 312px
  background: #ccc
  .search
    background: #ffffff
    padding 16px 30px
    .container
      background: #F1F1F1
      height 58px
      border-radius: 58px
      padding 0 40px
      box-sizing: border-box
      .city
        font-size: 28px
        display: flex
      .chevron-down
        margin-left 10px
     .long-string
        width 2px
        height 26px
        background: theme-color
      .search-input
        padding 0 20px
        color: #666
        font-size: 28px
      .at-icon
        margin-top -4px
.menus
    padding 0px 10px 0
    background: #fff
    height 40px
  .item
  .img
    width: 100%
    height auto
.swiper
  height 25vh
  overflow hidden
  background-color: #fff;
  .image
    max-height: 100%
    width 100%
.advert
  display:flex;
  height 200px
  padding-top 0
  margin-top -10px
  background-color #fff
  image
    height 100%
    width 100%
.tab
    height 70px
    background: #fff
    .label
      height 100%
      line-height 95px
      border-bottom 4px solid #f6f6f6
   .active
		.label
			font-size: 37px
			color theme-color
			border-bottom 8px solid theme-color
			font-weight bold
.merchant {
	background-color: #fff;
	margin-top: 20px;
	&.inset {
		margin: 20px 20px 20px;
		border-radius: 50px;
		padding-top: 20px;
	}
	&.update-inset {
		border-radius: 22px;
	}
	.content {
		padding: 22px;
		padding-bottom: 0;
		.img {
			width: 152px;
			height: 152px;
			margin-right: 30px;
		}
		.title {
			font-size: 32px;
			line-height: 1;
		}
		.label {
			font-size: 24px;
			color: #666;
			margin-top: 40px;
			line-height: 1;
		}
		.right-icon {
			width: 15px;
			height: 27px;
			opacity: 0.38;
		}
		.tag {
			width: 105px;
			height: 38px;
			border-radius: 5px;
			font-size: 20px;
			color: rgba(255, 102, 84, 1);
			text-align: center;
			line-height: 38px;
			margin-right: 10px;
			margin-top: 18px;
		}
	}
	.flex-right{
		flex-direction:row-reverse;
	}
	.all-data {
		display:flex;
		padding:0px 12px;
		margin-top:15px;
	}
	.pb8 {
		padding-bottom: 25px;
	}
}

.banner{
	width:50%;
	height: 260px;
	image {
		background-color: #ccc;
		width:100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		border-radius: 8px;
	}
}



.give {
	height: 84px;
	font-size: 24px;
	margin-left: 22px;
	box-sizing: border-box;
	border-bottom: 1px solid #EDEDED;
	.icon {
		width: 32px;
		height: 27px;
		background: rgba(217, 123, 11, 1);
		border-radius: 2px;
		text-align: center;
		line-height: 27px;
		font-size: 19px;
		color: #fff;
		margin-right: 15px;
	}
	.strong {
		color: #c71d0b;
	}
	.info {
		font-size: 20px;
		color: #666;
	}
}
.more {
	height: 70px;
	font-size: 20px;
	color: #999;
	.img {
		width: 27px;
		height: 15px;
		margin-left: 6px;
	}
}
.ellipsis-one {
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ml10{
	margin-left: 10px;
}

// 重新构造图片
.content_box {
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding:20px 25px;
	.content_img {
		height:20vh;
		width:50% ;
		image {
			height:100%;
			width:100%
			border-radius: 10px;
		}
	}
	.content_update_img {
		height:22vh;
		width:100% ;
			image {
			height:100%;
			width:100%
			border-radius: 10px;
		}
	}
	.hidden_content_img {
		display: none;

	}
}

.no_receive {
	display: flex;
	justify-content: center;
	height:95px;
	background-color:rgba(255,242,230,1);
	align-items:center;
	}



