@import '../../utils/config.styl'
.head
  // height 312px
  background: #ccc
  .search
    background: #ffffff
    padding 16px 30px
    .container
      background: #F1F1F1
      height 58px
      border-radius: 58px
      padding 0 40px
      box-sizing: border-box
      .city
        font-size: 28px
      .chevron-down
        margin-left 10px
      .long-string
        width 2px
        height 26px
        background: theme-color
        margin 0 26px 0 32px
      .search-input
        padding 0 20px
        color: #666
        font-size: 28px
      .at-icon
        margin-top -4px
.menus
    padding 0px 10px 0
    background: #fff
    height 40px
  .item
  .img
    width: 100%
    height auto
.swiper 
  height 25vh
  overflow hidden
  background-color: #fff;
  .image 
    max-height: 100%
    width 100%
.advert
  display:flex;
  height 200px
  padding-top 0
  margin-top -10px
  background-color #fff
  image 
    height 100%
    width 100%