.order
  min-height 100vh
  // overflow hidden
  background-color #F6F6F6
  .container-wrapper
    height 95vh
  .container
    padding 20px 20px 0 20px
		.weui-cell__hd
			font-size:25px
			height:15vh
			border:1px solid #66ccff
			padding:1vh 3vw 0 3vw
			border-radius:10px
			background:#fff
			.ordernum
				display:block
			.nameandmoney
				display:block
				overflow:hidden
			.storename
			 float:left
			.money
				float:right
			.ordertime
				display:block
	.list_btn
		display:block
		width:20vw
		height:5vh
		line-height:5vh
		text-align:center
		border: 1px solid #66ccff
		border-radius:10px
		float:right
		margin-top:-5vh
	
	
	
	
	
		