.merchant-details
    .bcfff
        background-color: #fff
    .shop
        .top-view
            padding: 25px 50px 25px 26px
            .name
                font-size: 46px
                color: #313131
                margin-bottom: 19px
                font-weight bolder
            .money
                font-size: 26px
                color: #999999
            .image
                width 40px
                height 40px
        .scroll-view
            .flex
                width: max-content
                .image
                    width 346px
                    height 226px
                    margin: 0 5px
        .address
            padding: 47px 52px 47px 28px
            .text
                padding: 0 10px
            .distance
                padding-right :5px
                border-right 1px solid #000
            .address-img
                width 21px
                height 30px
            .mobile-img
                width 30px
                height 30px
    .group-purchase
        margin-top: 11px
        padding: 24px 24px 0
        .hd
            padding-bottom: 10px
            .desc
                text-overflow: ellipsis
                white-space: nowrap
                overflow hidden
                padding-right: 10px
            .count
                padding: 0 24px
                color #FF3922
                font-size: 24px
                background-color: #FDE8E5
                border-radius: 5px
        .image-list0
            margin : 0 0 1.5625rem 0
            width:100%
            .backg-image
                width: 100%
                height: 100%
                position: absolute
                z-index :2
            .image0
                width: calc((100% - 9px))
                border-radius: 10px
            .image
                width: calc((100% - 9px) / 2)
                height 192px
                border-radius: 10px
                &:last-child
                    margin-left: 9px
        .image-list
            margin : 0 0 1.5625rem 0
            height: 6.25rem
            width:100%
            .backg-image
                width: 100%
                height: 100%
                position: absolute
                z-index :2
            .image
                width: calc((100% - 9px) / 2)
                height 192px
                border-radius: 10px
                &:last-child
                    margin-left: 9px
            .img
                width:100%
                height:100%
                position:relative
                display:flex
                padding: 0 25px
                box-sizing :border-box
                padding: 0;
            .box_left
                height:100%
                flex:242
                z-index:3
                position relative
                .box_left_price
                    height:30%
                    weight:100%
                    text-align:center
                    color:#B22222
                    font-size:45px
                    margin 0 auto
                    margin-top 30%
                    margin-bottom 5%
                .box_left_return
                    text-align :center
                    font-size :20px
                    background :#EED2EE
                    color :#B22222
                    height :30px
                    width 180px
                    line-height :30px
                    margin: 0 auto
            .box_center
                height:100%
                flex:250
                z-index:3
                font-size:24px
                font-weight bold
                box-sizing border-box
                .present
                    height:70%
                    weight:80%
                    margin 20% 5%
                    font-size:25px
                    overflow:hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                .present_recommend
                    height:30%
                    weight:100%
                    font-size:20px
                    color :#ccc
            .box_right
                box-sizing: border-box
                height:99%
                padding 0
                padding-top: 5%
                padding-bottom 2%
                flex:220
                z-index:1
                background #c71d0b
                .image
                    width :100%
                    height:100%
        .ft
            margin: 0
            padding-bottom :10px
            .money
                font-size: 40px
                font-weight: bold
                color #ED6B24
                margin-right 20px
            .count
                font-size: 24px
                color: #999999
                margin-left: 17px
            .btn-go
                width 190px
                background:linear-gradient(90deg,#FE7450,#FF2614);
                border-radius: 5px
                color #fff
                font-size: 24px
                border: none
                &:after
                    display none
    .ft-more
        margin-top: 16px
        color #999
        padding-bottom: 20px
        // border-bottom: 1px solid rgba(0,0,0,0.07)
        .taro-text
            transform: rotate(90deg)
    .merchant-details__tit
        font-size: 36px
        padding-left 24px
        .mark
            font-size: 19px
            color: #fff
            background-color: #D97B0B
            padding: 3px 8px
            border-radius: 2px
            margin-right: 16px
            &.bc5D84E0
                background-color:#5D84E0
        .fwb
            font-weight: bold
    .ticket
        padding: 0 24px 0
        .ticket-view
            min-height 184px
            padding: 0 33px
            background-color: #FFFAF4
            border: 1px solid #FFEBCD
            margin-top: 34px
            position relative
            &:after,
            &:before
                display block
                content: ''
                width 30px
                height 30px
                border-radius: 100%
                background-color: #fff
                position: absolute
                top: 50%
                transform: translate(0,-50%)
                border: 1px solid #FFEBCD
            &:after
                right -15px
                border-right-color: transparent
                border-top-color:  transparent
                transform: translate(0,-50%) rotateZ(45deg)
            &:before
                left: -15px
                border-left-color: transparent
                border-top-color:  transparent
                transform: translate(0,-50%) rotateZ(-45deg)
            .left
                padding-right: 30px
                .money
                    font-size: 30px
                    color #313131
                    font-weight bold
                .desc
                    font-size: 22px
                    color: #666666
                .sales
                    font-size: 20px
                    color #999999
            .right
                .money
                    font-size: 40px
                    font-weight bold
                    color #ED2929
                    text-align: center
                .btn-buy
                    height 44px
                    width 180px
                    line-height: 44px
                    border-radius: 5px
                    background:linear-gradient(90deg,#FE7450,#FF2614);
                    color: #fff
                    border: 0
                    font-size: 24px
                    padding: 0 20px

    .discounts-view
        padding: 0 24px
        .discounts-cell
            padding: 45px 0
            border-bottom: 1px solid rgba(0,0,0,.07)
            position relative
            .image
                width 160px
                height 160px
            .discounts-cell__bd
                padding-left: 23px
                .tit
                    font-size: 30px
                    color #333333
                    margin-bottom: 16px
                .desc
                    font-size: 24px
                    color #666666
                    text-overflow: ellipsis
                    white-space: nowrap
                    overflow hidden
                    margin-bottom: 20px
                .money
                    color: #EE3131
                    font-size: 30px
                .count
                    font-size: 24px
                    color #999
            .btn-buy
                width 180px
                height 44px
                line-height: 44px
                border-radius: 5px
                background:linear-gradient(90deg,#FE7450,#FF2614)
                color: #fff
                border: 0
                font-size: 24px
                padding: 0 20px
                position absolute
                bottom 40px
                right: 0
    .recommend-view
        padding: 24px
        margin-top: 20px
        .recommend-cell
            padding: 28px 0
            border-bottom: 1px solid #E5E5E5
            .image
               width 144px
               height 144px
            .recommend-cell__bd
                padding-left: 22px
                font-weight bolder
                .tit
                    font-size: 34px
                    margin-bottom: 17px
                .mb33
                    margin-bottom: 33px
                .center
                    font-size: 24px
                    color #999999
                    justify-content: space-between
                    .money
                        font-size: 30px
                        color: #FF850B
                .ellipsis-one
                    overflow:hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                .tag-text
                    padding: 6px
                    border-radius: 5px
                    border: 0.05rem solid #FA5D49
                    font-size: 24px
                    color: #FA5D49
                    margin-right: 10px
.check
      position fixed
      top:50%
      left:50%
      margin-left:-100px
      margin-top :-75px
      width:200px
      height:150px
      background:#000
      opacity:0.5
      color:#fff
      font-size :30px
      font-weight:bolder
      line-height:150px
      border-radius:20px
      text-align :center
