@import '../../../../utils/config.styl'

.gift-item-scoped
  border-bottom 1px solid #999999
  padding 20px 0
  .image
    width 150px
    height 150px
    margin-right 40px
  .title
    font-size: 32px
    font-weight bold
    .status
      color: theme-color
      font-size: 26px
      font-weight normal
  .info
    font-size: 20px
    color: #666
    line-height 1
    &-first
      margin 20px 0

  .btn
    color: #999
    border: 1px solid #999999
    border-radius: 5px
    padding 9px 23px
    font-size: 22px
    line-height 1

