.qrcode
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 2
  background-color rgba(0,0,0,0.6)
  font-size 29px
  color #333
  .container
    position absolute
    width 82vw
    height 55vw
    padding 30px 0
    display flex
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background-color #fff
    flex-direction column
    align-items center
    border-radius 10px
    .title
      color #000
      font-size 32px
      line-height 48px
      font-family HiraginoSansGB-W3
    .image
      background-color pink
      width 40vw
      height 40vw
      margin 20px 0
    .close
      width 82px
      height 82px
      position absolute
      left 50%
      bottom -130px
      transform translateX(-50%)
