.gift-view
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(0, 0, 0, 0.6)
  font-size 29px
  color #333
  .gift-wrapper
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    // margin 0 auto
    // width 100%
    width 80vw
    z-index 2
    padding 0 40px
    display flex
    // flex-direction column
    // justify-content space-between
    min-height 300px
    padding 20px
    background-color #fff
    border-radius 10px
    .avatar
      width 148px
      height 148px
      flex 0 0 148px
      margin-right 20px
      .icon
        width inherit
        height inherit
    .close
      position absolute
      bottom -140px
      left 50%
      transform translateX(-50%)
      .icon
        height 82px
        width 82px
// .c-model-present {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }

// .c-model-present-wrapper {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 100%;
//   z-index: 2;
//   padding: 0 40px;
// }

// .present-panel {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 400px;
//   padding: 20px;
//   background-color: #fff;
//   border-radius: 10px;
// }

// .present {
//   display: flex;
// }

// .description .text {
//   margin-bottom: 10px;
//   color: #333;
//   font-family: Helvetica;
// }

// .avatar {
//   width: 148px;
//   height: 148px;
//   flex: 0 0 148px;
//   margin-right: 20px;
// }

// .avatar .icon {
//   height: inherit;
//   width: inherit;
//   border-radius: 10px;
//   margin-right: 20px;
// }

// .present-panel .close {
//   position: absolute;
//   bottom: -140px;
//   left: 50%;
//   transform: translateX(-50%);
// }

// .present-panel .icon-close {
//   height: 82px;
//   width: 82px;
// }

// .logistics, .address, .coupon {
//   margin-top: 20px;
// }

// .coupon .action-item {
//   background-color: #FF9900;
//   color: #fff;
// }

// .part-logistics {
//   display: flex;
// }

// .part-logistics .time-wrapper .text {
//   text-align: center;
//   font-size: 24px;
// }

// .part-logistics .process {
//   flex: 0 0 80px;
// }