@import "../../../styles/common.styl"
.coupon
  display flex
  background-color #fff
  border-radius 10px
  margin-bottom 20px
  padding 20px
  color #333
  font-size 29px
  .avatar
    position relative
    flex 0 0 147px
    width 147px
    height 144px
    background-color rgba(0, 0, 0, .1)
    border 2px solid #f5f5f5
    border-radius 5px
    margin-right 20px
    .image
      width inherit
      height inherit
    .classify
      position absolute
      top -10px
      left -22px
      padding 1px 20px 1px 10px
      color #fff
      font-size 24px
      background-color #FD4A3B
      border-bottom-right-radius: 20px
      border-top-right-radius 20px
  .description
    flex 1
    margin-right 10px
    padding-right 10px
    border-right 2px dashed #ccc
    display flex
    flex-direction column
    justify-content space-between
    overflow hidden
    .name
      text-ellipsis()
    .brief
      text-ellipsis-two-lines()
      margin-top 5px
      font-size 24px
      line-height 28px
    .gift
      margin-top 10rpx
      max-width 160rpx
      display flex
      align-items center
      .text
        text-ellipsis()
        padding 0 5rpx
        border 1px solid rgba(255, 153, 0, 1)
        color rgba(255, 153, 0, 1)
        font-size 18px
        border-radius 5px
    .price
      margin-top 10rpx
      display flex
      font-size 28px
      color #FD4A3B
      margin-top 10px
      .money
        position relative
        padding-left 20px
        line-height 28px
        font-size 32px
        margin-right 10px
        &:before
          position absolute
          content "¥"
          bottom 8px
          left 0
          font-size 28px
      .max
        font-size 24px
        text-ellipsis()
  .status-wrapper
    flex 0 0 160px
    width 160px
    display flex
    flex-direction column
    justify-content space-between
    text-align center
    .text
      color #FD4A3B
      font-size 24px
    .buy
      font-size 24px
      color #fff
      width inherit
      height 48px
      line-height 48px
      background-color #FF3737
      border-radius 30px
      border 0 none
    .process
      margin-top 10px
      background-color #ECECEC
      border-radius 10px
      .process-in
        position relative
        height 20px
        width 80px
        border-radius 10px
        background linear-gradient(to right, #FFC90F, #FF5B08)
