.landing_bounced {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.6);
    ul {
      
      padding 0;
      margin-bottom 100px
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      width:598px;
      height:540px;
      list-style none;
      background:rgba(255,255,255,1);
      border-radius:10px;
      .taro-img {
        width 155px;
        height 204px;
      }
      img {
        width 155px;
        height 204px;
      }
       li:nth-child(1){
         margin-bottom 19px
         line-height 1
         font-size:32px;
         font-family:PingFang SC;
         font-weight:bold;
         color:rgba(1,1,1,1);
       }
        li:nth-child(2){
          margin-bottom 29px
          line-height 1
          font-size:32px;
          font-family:PingFang SC;
          font-weight:500;
          color:rgba(153,153,153,1);
       }


      li:nth-child(4){
        margin-top 40px
        display: flex;
        span {
          display: inline-block;
          width:223px;
          height:76px;
          font-size:30px;
          font-family:PingFang SC;
          font-weight:500;
          line-height 76px
          text-align: center;
          border-radius:38px;
        }
        span:nth-child(1){
          margin-right 20px
          color:#999999;
          border:1px solid rgba(153,153,153,1);
        }
        span:nth-child(2){
          color:rgba(255,255,255,1);
          background:rgba(255,68,68,1);
        }
        
      }
    }
  }