.marketing-page
  width 100%
  height 100%
  background: #F3F4F8
  position relative
  .ellipsis-one
    overflow-x:hidden
    white-space: nowrap
    text-overflow: ellipsis
  .head-bj
    width 100%
    height 336px
    position: absolute
    top: 0
    left 0
    z-index 5
  .marketing-main
    width 100%
    height 100%
    position relative
    z-index: 10
    padding: 26px 22px
    box-sizing: border-box
    .search-box
      display: flex
      width 100%
      height 54px
      align-items: center
      .city
        color: #ffffff
        font-size: 26px
        display: flex
        align-items: center
        padding-right:10px
        // width: 22%
        flex: 1
        .down-icon
          width 23px
          height 13px
      .search
        width 580px
        height 100%
        background:rgba(255,255,255,.1)
        border-radius: 27px
        padding: 0 20px
        box-sizing: border-box
        display: flex
        align-items: center
        .search-icon
          width 25px
          height 25px
        .search-text
          width 100%
          color: #ffffff
          font-size: 24px
          margin-left: 12px
    .banner-box
      width 100%
      height 284px
      border-radius: 16px
      margin-top: 26px
      background: #fff
      position relative
      .banner-img
        width 100%
        height 100%
        Image
          width 100%
          height 100%
      .indicator
        width 51px
        height 24px
        position: absolute
        bottom: 20px
        right 20px
        background: url('../../../../assets/index/indicator.png') 100% no-repeat
        background-size: cover
        font-size: 20px
        color #fff
        display: flex
        align-items: center
        padding: 0 10px
        justify-content: space-between
    .bulletin-box
      width 100%
      height 55px
      background: #ffffff
      border-radius: 28px
      display: flex
      align-items: center
      padding: 0 24px
      box-sizing: border-box
      margin: 28px 0
      .bulletin-text
        height 30px
        display: flex
        align-items: center
        font-size: 24px
        color: #999999
        .bulletin-img
          width 126px
          height 30px
          margin-right: 24px
      .bulletin
        flex: 1
        height 100%
        margin-left: 24px
        .bulletin-item
          width 100%
          height 100%
          display: flex
          align-items: center
          justify-content: space-between
          .right-icon
            width 30px
            height 30px
    .feature-box
      width 100%
      height 120px
      display: flex
      justify-content: space-between
      margin-bottom: 16px
      .feature
        width 348px
        height 100%
        background: #ffffff
        border-radius: 16px
        padding: 26px 50px
        box-sizing: border-box
        display: flex
        .feature-img
          width 61px
          height 69px
        .feature-text
          display: flex
          line-height: 1
          flex: 1
          flex-direction: column
          justify-content: space-between
          color #999999
          font-size: 22px
          padding-left: 30px
          View
            color #999999
            font-size: 22px
          .text-title
            color: #000000
            font-size: 26px
            font-weight: bold
    .image-box
      width 100%
      height 564px
      margin-top: 16px
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      .img-item
        width 227px
        height 266px
        margin-bottom: 16px
        border-radius: 16px
    .tab-box
      width 100%
      display: flex
      justify-content: space-around
      margin-top: 30px
      .item
        color #1c1c1c
        font-size: 30px
        display: flex
        flex-wrap: wrap
        justify-content: center
        .label
          width 100%
          text-align: center
      .active
        font-size: 30px;
        font-weight:bold;
        // color: red !important;
        View
          color: #ff4444;
      .active-bottom
        width:26px
        height:8px
        background:rgba(255,68,68,1)
        border-radius:4px
    .listBox
      margin-top: 20px
