.page {
  padding:0px 10px;
  overflow:hidden;
  background-color:#fff;
  .title {
    margin-top: 10px;
    display:flex;  
    justify-content: space-around;
    .line {
      text-align: center;
      width:30%; 
      padding: 8px 0px;
    }
    .linRed {
      color: red;
    }
    .linWat {
      color:'#666666'
    }
  }

  .list {
    display:flex;
    justify-content:space-between;
    padding:15px 30px 15px 80px;
    border-bottom:1px solid #ededed;
    
  }
  .mt-5{
    margin-top :-18px;
  }
  .myPositing {
    position:absolute;
    background-color:#fff;
    width:100%;
  }
  .rising {
    z-index: 3;
  }

  .falling {
    z-index: -6;
    
  }
}
