.page {
  background-color:#fff;
  .title {
    display:flex;  
    overflow:hidden;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    background-color:#fff;
    .line {
      text-align: center;
      width:30%;
      padding: 8px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .title__select_img{
        height: 24px;
        width: 24px;
        padding-left: 12px;
      }
    }
    .linRed {
      color: red;
    }
    .linWat {
      color:'#666666'
    }
  }

  .list {
    display:flex;
    justify-content:space-between;
    padding:15px 30px 15px 80px;
    border-bottom:1px solid #f4f4f4;
  }
  .mt-5{
    margin-top :-18px;
  }
  .myPositing {
    // display: flex;
    width: 100%;
    position:absolute;
    background-color:#fff;
  }
  .rising {
    z-index: 3;
  }

  .falling {
    z-index: -6;
    
  }
}

.page_bottom {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background:rgba(0,0,0,.1);
  height: 90vh;
  width: 100vw;
}
