.gift-write-info
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(0, 0, 0, 0.6)
  font-size 29px
  color #fff
  .container
    position absolute
    top 160px
    left 50%
    display flex
    flex-direction column
    align-items center
    transform translatex(-50%)
    width 90%
    .action
      width inherit
      height 96px
      margin-top 30px
      line-height 96px
      font-size 32px
      color #fff
      background-color #FD4A3B
    .area-write
      width inherit
      .item
        height 96px
        margin-top 20px
        background-color #fff
        border-radius 10px
        color #B9B9C2
        text-align center
        font-size 32px
    .avatar
      display flex
      flex-direction column
      align-items center
      width 400px
      height 500px
      padding-top 60px
      background-size 100%
      background-repeat no-repeat
      box-sizing border-box
      .icon
        height 288px
        width 288px
        background-color #fff
        margin-bottom 20px
    .close
      position absolute
      top -100px
      right 30px
      width 80px
      height 80px
      .icon
        width inherit
        height inherit
