.spellGroupHead {
  display: flex;
}

//发起开团者
.open_group {
  position relative;
  text {
    position absolute;
    top:42px;
    left: 7px;
    right 0;

    display: flex;
    justify-content: center;
    align-items: center

    width:49px;
    height:21px;
    font-size:16px;
    font-family:Source Han Sans CN;
    font-weight:400;
    border-radius:5px;
    color:rgba(255,255,255,1);
    background: linear-gradient(-150deg, #ff2514, #fe7651);
  }
  image {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }
}

//参与开团者
.participants {
  margin-left -15px
  image {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }

}
