/** flex 工具函数 */

.flex
  display flex
  flex-direction: row
  &.columns
    flex-direction: columns
  &.center
    align-items: center
    justify-content: center
  &.top
    align-items: flex-start
  &.bottom
    align-items: flex-end
  &.left
    justify-content: flex-start
  &.right
    justify-content: flex-end
  >.item
    flex: 1
