.confirm-address {
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 120px;
  box-sizing: border-box;
  background: #f0f2f5;
}
.confirm-address .no-address-contentbox {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  z-index: 10;
}
.confirm-address .no-address-contentbox .tips-box {
  width: 646px;
  height: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -161px;
  margin-left: -323px;
  background: #fff;
}
.confirm-address .no-address-contentbox .tips-box .tips-box-info {
  width: 100%;
  height: 220px;
  line-height: 220px;
  font-size: 33px;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
  box-sizing: border-box;
}
.confirm-address .no-address-contentbox .tips-box .tips-box-bottomBox {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.confirm-address
  .no-address-contentbox
  .tips-box
  .tips-box-bottomBox
  .tips-box-bottomBox_cancle {
  flex: 50%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #ff6654;
  font-size: 26px;
  border-right: 1px solid #f3f3f3;
  box-sizing: border-box;
}
.confirm-address
  .no-address-contentbox
  .tips-box
  .tips-box-bottomBox
  .tips-box-bottomBox_go {
  flex: 50%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #ff6654;
  font-size: 26px;
  font-weight: bold;
}
.confirm-address .no-address-box {
  height: 100px;
  line-height: 100px;
  width: 100%;
  margin-bottom: 24px;
  font-size: 30px;
  background: #fff;
  padding-right: 70px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.confirm-address .no-address-box .no-address-msgbox {
  width: 70px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 0;
}
.confirm-address .address-msgbox {
  height: auto;
  width: 100%;
  margin-bottom: 24px;
  background: #fff;
  padding-right: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.confirm-address .address-msgbox .address-msgbox-left {
  min-height: 150px;
  height: auto;
  width: 100%;
  padding: 39px 24px;
  box-sizing: border-box;
}
.confirm-address .address-msgbox .address-msgbox-left .address-name-msgbox {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-name-msgbox
  .address-name-msgbox-info {
  width: 500px;
  padding-left: 150px;
  box-sizing: border-box;
  position: relative;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-name-msgbox
  .address-name-msgbox-info
  .address-name-msgbox-key {
  width: 140px;
  text-align: justify;
  position: absolute;
  left: 0;
  color: #666666;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-name-msgbox
  .address-name-msgbox-info
  .address-name-msgbox-key:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-name-msgbox
  .address-name-msgbox-info
  .address-name-msgbox-value-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-name-msgbox
  .address-name-msgbox-info
  .address-name-msgbox-value-box
  .address-msgBox_userBox_name {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-name-msgbox
  .address-msgBox_userBox_choose {
  background: #fddfdb;
  color: #fa705e;
  font-size: 25px;
  text-align: center;
  width: 93px;
  height: 38px;
  line-height: 38px;
  border-radius: 8px;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-addressInfo-msgbox {
  width: 100%;
  height: auto;
  padding-left: 150px;
  box-sizing: border-box;
  position: relative;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-addressInfo-msgbox
  .address-address-msgbox-key {
  width: 140px;
  text-align: justify;
  position: absolute;
  left: 0;
  color: #666666;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-addressInfo-msgbox
  .address-address-msgbox-key:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.confirm-address
  .address-msgbox
  .address-msgbox-left
  .address-addressInfo-msgbox
  .address-address-item {
  text-align: left;
  color: #313131;
}
.confirm-address .address-msgbox .address-msgbox-icon {
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -17px;
}
.confirm-address .group-msgbox {
  width: 100%;
  height: auto;
  background: #fff;
}
.confirm-address .group-msgbox .group-msgbox-title-BOX {
  height: 105px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.confirm-address .group-msgbox .group-msgbox-title-BOX .group-titlebox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
}
.confirm-address
  .group-msgbox
  .group-msgbox-title-BOX
  .group-titlebox
  .group-titlebox-storeicon {
  height: 32px;
  width: 32px;
  margin-right: 15px;
}
.confirm-address
  .group-msgbox
  .group-msgbox-title-BOX
  .group-titlebox
  .group_storename {
  font-size: 32px;
  font-weight: bold;
}
.confirm-address .group-msgbox .group-msgbox-title-BOX .group-msgbox-icon {
  width: 70px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 0;
}
.confirm-address .group-msgbox .group-msgbox-content-BOX {
  height: auto;
  width: 100%;
  padding: 0 22px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #f6f6f6;
}
.confirm-address
  .group-msgbox
  .group-msgbox-content-BOX
  .group-msgbox-content-imgbox {
  flex: 50%;
  height: 240px;
  border-radius: 8px;
  overflow: hidden;
}
.confirm-address
  .group-msgbox
  .group-msgbox-content-BOX
  .group-msgbox-content-imgbox
  .group-msgbox-content-img {
  width: 100%;
  display: unset;
  height: 100%;
}
.confirm-address
  .group-msgbox
  .group-msgbox-content-BOX
  .group-msgbox-content-msgbox {
  flex: 50%;
  height: auto;
  padding: 22px 38px;
  box-sizing: border-box;
}
.confirm-address
  .group-msgbox
  .group-msgbox-content-BOX
  .group-msgbox-content-msgbox
  .group-msgbox-content-name {
  margin-bottom: 50px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.confirm-address
  .group-msgbox
  .group-msgbox-content-BOX
  .group-msgbox-label-box {
  width: 100%;
}
.confirm-address
  .group-msgbox
  .group-msgbox-content-BOX
  .group-msgbox-label-box
  .group-msgbox-label {
  background: #fddfdb;
  color: #fa705e;
  padding: 2px 8px;
  font-size: 25px;
  text-align: center;
  height: 38px;
  line-height: 38px;
  border-radius: 8px;
  float: left;
  margin-right: 15px;
}
.confirm-address .appre-msgbox {
  width: 100%;
  height: auto;
  background: #fff;
}
.confirm-address .appre-msgbox .appre-msgbox-title-BOX {
  height: 105px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.confirm-address .appre-msgbox .appre-msgbox-title-BOX .appre-titlebox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-title-BOX
  .appre-titlebox
  .appre-titlebox-storeicon {
  height: 32px;
  width: 32px;
  margin-right: 15px;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-title-BOX
  .appre-titlebox
  .appre_storename {
  font-size: 32px;
  font-weight: bold;
}
.confirm-address .appre-msgbox .appre-msgbox-title-BOX .appre-msgbox-icon {
  width: 70px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 0;
}
.confirm-address .appre-msgbox .appre-msgbox-content-BOX {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox {
  width: 673px;
  height: 184px;
  background: url("http://tmwl.oss-cn-shenzhen.aliyuncs.com/front/Ka4AQ8GwFdYAP6Ai5Z7EaH2bXxCYKfbD.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox
  .appre-msgbox-yellowBox_left {
  width: 231px;
  height: 184px;
  float: left;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox
  .appre-msgbox-yellowBox_left
  .appre-msgbox-yellowBox_left_money {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 12px;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox
  .appre-msgbox-yellowBox_left
  .appre-msgbox-yellowBox_left_money
  .appre-msgbox-yellowBox_left_money_icon {
  line-height: 1;
  font-size: 25px;
  color: #ee3131;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox
  .appre-msgbox-yellowBox_left
  .appre-msgbox-yellowBox_left_money
  .appre-msgbox-yellowBox_left_money_num {
  line-height: 1;
  font-size: 35px;
  color: #ee3131;
  font-weight: bold;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox
  .appre-msgbox-yellowBox_left
  .appre-msgbox-yellowBox_left_info {
  color: #fe604e;
  font-size: 18px;
  padding: 5px 12px;
  border-radius: 8px;
  background: #fde8e5;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox
  .appre-msgbox-yellowBox_middle {
  width: 231px;
  height: 184px;
  float: left;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox
  .appre-msgbox-yellowBox_middle
  .appre-msgbox-yellowBox_appre_name {
  margin-bottom: 12px;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-size: 24px;
  line-height: 1.5;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox
  .appre-msgbox-yellowBox_middle
  .appre-msgbox-yellowBox_appre_label_box {
  width: 100%;
}
.confirm-address
  .appre-msgbox
  .appre-msgbox-content-BOX
  .appre-msgbox-yellowBox
  .appre-msgbox-yellowBox_middle
  .appre-msgbox-yellowBox_appre_label_box
  .appre-msgbox-yellowBox_appre_label {
  color: #fe604e;
  font-size: 16px;
  padding: 5px 8px;
  border-radius: 8px;
  background: #fde8e5;
  margin-right: 8px;
  margin-bottom: 5px;
  float: left;
}
.confirm-address .gift-msgbox {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 0 22px;
  box-sizing: border-box;
}
.confirm-address .gift-msgbox .gift-msgbox-giftinfo-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-chooseimg-box {
  height: 145px;
  flex: 112;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-chooseimg-box
  .gift-msgbox-giftinfo-chooseimg {
  width: 35px;
  height: 35px;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftimg-box {
  flex: 257;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftimg-box
  .gift-image-list {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 35px 0 24px;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftimg-box
  .gift-image-list
  .gift-image-content {
  position: relative;
  display: flex;
  background: red;
  height: 145px;
  width: 260px;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftimg-box
  .gift-image-list
  .gift-image-content
  .gift-img1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftimg-box
  .gift-image-list
  .gift-image-content
  .gift-img2 {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  z-index: 3;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftimg-box
  .gift-image-list
  .gift-image-content
  .gift-img {
  width: 100%;
  height: 100%;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftmsg-box {
  height: auto;
  flex: 340;
  margin-left: 40px;
  box-sizing: border-box;
  padding-top: 20px;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftmsg-box
  .gift-msgbox-giftinfo-title {
  height: 40px;
  width: 90%;
  line-height: 1;
  font-size: 30px;
  font-weight: bold;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftmsg-box
  .gift-msgbox-giftinfo-name {
  width: 90%;
  font-size: 26px;
  line-height: 1.2;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftmsg-box
  .gift-msgbox-label-box {
  width: 90%;
  margin-top: 22px;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftinfo-box
  .gift-msgbox-giftinfo-giftmsg-box
  .gift-msgbox-label-box
  .gift-msgbox-label {
  background: #fddfdb;
  color: #fa705e;
  padding: 2px 8px;
  font-size: 20px;
  text-align: center;
  height: 38px;
  line-height: 38px;
  border-radius: 8px;
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
}
.confirm-address .gift-msgbox .gift-msgbox-giftcoins-box {
  width: 100%;
  height: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #eaeaea;
  box-sizing: border-box;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftcoins-box
  .gift-msgbox-giftcoins-chooseimg-box1 {
  height: 145px;
  flex: 112;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftcoins-box
  .gift-msgbox-giftcoins-chooseimg-box1
  .gift-msgbox-giftcoins-chooseimg {
  width: 35px;
  height: 35px;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftcoins-box
  .gift-msgbox-giftcoins-chooseimg-box2 {
  flex: 597;
  padding-left: 30px;
  box-sizing: border-box;
}
.confirm-address
  .gift-msgbox
  .gift-msgbox-giftcoins-box
  .gift-msgbox-giftcoins-chooseimg-box2
  .gift-msgbox-giftcoins-label {
  color: #ff9791;
  font-size: 30px;
  padding: 8px 12px;
  line-height: 1;
  border-radius: 8px;
  border: 1px solid #ff6654;
  display: inline-block;
}
.confirm-address .yellow-info {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #ffefc5;
  color: #666666;
}
.confirm-address .paymoney_box {
  height: 115px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
  box-sizing: border-box;
  padding: 20px 28px;
}
.confirm-address .paymoney_box .paymoney_price {
  width: 450px;
  height: 55px;
  float: left;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.confirm-address .paymoney_box .paymoney_price .paymoney_price_icon {
  font-size: 30px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ee3131;
}
.confirm-address .paymoney_box .paymoney_price .paymoney_price_num {
  font-size: 50px;
  color: #ee3131;
  float: left;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.confirm-address .paymoney_box .paymoney_price .paymoney_price_info {
  margin-left: 15px;
  font-size: 50px;
  color: #ee3131;
  width: 203px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.confirm-address .paymoney_box .paymoney_buynow {
  width: 225px;
  height: 75px;
  line-height: 75px;
  float: right;
  border-radius: 37.5px;
  background: linear-gradient(90deg, #fe7450, #ff2614);
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.confirm-address .paymoney_box .paymoney_buynow_no {
  width: 225px;
  height: 75px;
  line-height: 75px;
  float: right;
  border-radius: 37.5px;
  background: #9e9e9e;
  color: #fff;
  text-align: center;
  font-size: 30px;
}
.confirm-address .tips-mask {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.confirm-address .tips-mask .tips-content {
  width: 598px;
  height: 407px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirm-address .tips-mask .tips-content .tips-title {
  width: 100%;
  text-align: center;
  height: 32px;
  line-height: 1;
  font-size: 32px;
  font-family: PingFang SC;
  font-weight: 800;
  color: #010101;
  margin-bottom: 72px;
}
.confirm-address .tips-mask .tips-content .tips-info {
  width: 100%;
  text-align: center;
  height: 28px;
  font-size: 28px;
  line-height: 1;
  font-family: PingFang SC;
  font-weight: 500;
  color: #999;
  margin-bottom: 92px;
}
.confirm-address .tips-mask .tips-content .tips-btn {
  width: 466px;
  height: 76px;
  text-align: center;
  line-height: 76px;
  background: #f44;
  border-radius: 38px;
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #fff;
}
