.recommend-box
  width 100%
  height 460px
  background: #ffffff
  border-radius: 16px
  padding: 24px 29px
  box-sizing: border-box
  .ellipsis-one
    overflow-x:hidden
    white-space: nowrap
    text-overflow: ellipsis
  .recommend-title-box
    width 100%
    height 30px
    display: flex
    align-items: center
    margin-bottom: 31px
    justify-content: space-between
    .recommend-title
      display: flex
      align-items: center
      .recommend-title-img
        height 31px
        width 158px
      .brand
        width 191px
      .recommend-label
        height 30px
        width auto
        padding: 0 12px
        display: flex
        align-items: center
        border:1px solid rgba(255,68,68,1)
        border-radius:6px
        color #ff4444
        font-size: 20px
        margin-left: 20px
    .look-more
      font-size: 22px
      color: #666666
  .coupon-list
    height 350px
    .coupon-list-item
      display: flex
      height 350px
      // justify-content: space-between
      padding: 0 5px
  .coupon-box
    width 203px
    height 314px
    font-size: 0
    margin-right: 20px
    .coupon-img
      width 203px
      height 203px
      border-radius: 16px
    .coupon-name
      width 100%
      color: #000000
      font-size: 24px
      line-height: 1
      margin: 10px 0 15px 0
    .coupon-label
      display: inline-block
      padding 0 18px
      background:rgba(254,246,246,1)
      border:1px solid rgba(255,68,68,1)
      border-radius:17px
      font-size: 20px
      color: #FF4444
      height 34px
      line-height: 34px
      box-sizing: border-box
      max-width 203px
    .coupon-money
      display flex
      align-items: center
      .new-money
        font-size: 24px
        color #ff4444
        font-size: bold
      .old-money
        font-size: 20px
        margin-left: 6px
        color: #999999
        text-decoration:line-through
