.daily-recommend
    .bcfff
        background-color: #fff
    .top-success
        padding: 16px 0
        background-color: #FFF2E6
        margin-top: 11px
        font-size: 26px
        color #313131
        text-align: center
        .status
            font-size: 35px
            color #FF6654
        .c2649FD
            color: #2649FD
    .tabs-view
        .flex
            width: max-content
        .tab-text
            height 100px
            line-height: 100px
            margin: 0 24px
            font-size: 27px
            box-sizing: border-box
            &.active
                font-weight:bold
                font-size: 32px
                border-bottom: 4px solid #DE2B13
                color: #DE2B13
    .sort
        padding: 20px 0
        .sort-text
            background:rgba(0,0,0,.07)
            border-radius:40px
            font-size: 24px
            color: #666
            padding: 14px 23px
            margin: 0 16px
            &.active
                background-color: rgba(222,43,19,.2)
                color #DE2B13
    .scroll-view
        padding: 15px 0
        .shop-cell
            padding: 26px 24px
            background-color: #fff
            .shop-cell__bd
                .image
                    width 153px
                    height 152px
                    flex-shrink: 0
                .content
                    width calc(100% - 183px)
                    padding-left: 30px
                    .flex
                        justify-content: space-between
                        font-size: 32px
                        .item
                            text-overflow: ellipsis
                            white-space: nowrap
                            overflow: hidden
                    .fs24
                        font-size: 24px
                    .c666
                        color: #666666
                    .mb20
                        margin-bottom: 20px
                    .mb10
                        margin-bottom: 10px
                    .scroll-flex
                        display flex
                        width: max-content
                        text-align: center
                        .tag-view
                            display block
                            width 105px
                            height 38px
                            line-height: 38px
                            border: 2px solid #FF6654
                            border-radius:5px
                            font-size: 20px
                            color: #FF6654
                            margin: 0 5px
                            &.active
                                background-color: #FDE8E5
                                color #FB4F39
            .adv-cells
                margin-top: 30px
                .image
                    width calc(100%/2)
            .present
                .label
                    background: #D97B0B
                    height 32px
                    width 32px
                    font-size: 19px
                    color: #fff
                .desc
                    font-size: 24px
                    color #313131
                    text-overflow: ellipsis
                    white-space: nowrap
                    overflow: hidden
                    padding: 0 15px
                    .cc71d0b
                        color: #C71D0B
                .count
                    font-size: 20px
                    color: #666