.daily-recommend
    .bcfff
        background-color: #fff
    .top-success
        padding: 16px 0
        background-color: #FFF2E6
        margin-top: 11px
        font-size: 26px
        color #313131
        text-align: center
        .status
            font-size: 35px
            color #FF6654
        .c2649FD
            color: #2649FD
    .tabs-view
        .flex
            width: max-content
        .tab-text
            height 100px
            line-height: 100px
            margin: 0 24px
            font-size: 27px
            box-sizing: border-box
            &.active
                font-weight:bold
                font-size: 32px
                border-bottom: 4px solid #DE2B13
                color: #DE2B13
    .sort
        padding: 20px 0
        .sort-text
            background:rgba(0,0,0,.07)
            border-radius:40px
            font-size: 24px
            color: #666
            padding: 14px 23px
            margin: 0 16px
            &.active
                background-color: rgba(222,43,19,.2)
                color #DE2B13
    .scroll-view
        padding: 15px 0
        .shop-cell
            background-color: #fff
            .shop-cell__bd
                padding: 26px 24px 0
                .image
                    width 153px
                    height 152px
                    flex-shrink: 0
                .content
                    width calc(100% - 183px)
                    padding-left: 30px
                    .flex
                        justify-content: space-between
                        font-size: 32px
                        .item
                            text-overflow: ellipsis
                            white-space: nowrap
                            overflow: hidden
                    .fs24
                        font-size: 24px
                    .c666
                        color: #666666
                    .mb20
                        margin-bottom: 20px
                    .mb10
                        margin-bottom: 10px
                    .scroll-flex
                        display flex
                        width: max-content
                        text-align: center
                        .tag-view
                            display block
                            width 105px
                            height 38px
                            line-height: 38px
                            border: 2px solid #FF6654
                            border-radius:5px
                            font-size: 20px
                            color: #FF6654
                            margin: 0 5px
                            &.active
                                background-color: #FDE8E5
                                color #FB4F39
            .adv-cells
                padding: 0 24px
            .present
                height 84px
                background-color: #FDE8E5
                display flex
                padding: 0 24px
                align-items: center
        .adv-cells
            margin-top: 30px
            .image
                width calc((100% - 12px)/2)
                height 177px
                &:first-child
                    margin-right: 12px
        .present
            .label
                background: #D97B0B
                height 32px
                width 32px
                font-size: 19px
                color: #fff
            .desc
                font-size: 24px
                color #313131
                text-overflow: ellipsis
                white-space: nowrap
                overflow: hidden
                padding: 0 15px
                .cc71d0b
                    color: #C71D0B
            .count
                font-size: 20px
                color: #666
        .shop-cell-card
            margin: 0 24px 20px
            padding: 45px 30px
            background:linear-gradient(180deg,rgba(250,220,144,1),rgba(254,181,119,1),rgba(254,152,106,1));
            box-shadow:0px 3px 10px 1px rgba(0, 0, 0, 0.15);
            border-radius:50px;
            .top-info
                margin-bottom: 17px
                .left
                    font-size: 24px
                    color #B44C21
                    .name
                        font-size: 32px
                        color: #7C4310
                        margin-bottom: 10px
                .right
                    font-size: 24px
                    color #B44C21
                    .at-icon-view
                        width 50px
                        height 50px
                        border-radius: 50px
                        background-color: #B44C21
                        margin-bottom: 13px

            .tags
                .tag-text
                    background:rgba(239,48,28,1);
                    border-radius:5px;
                    font-size: 18px
                    color #FBD78D
                    padding: 9px 12px
                    margin-right: 22px
            .present
                height: 78px
                display: flex
                align-items: center
                border-bottom: 1px solid rgba(0,0,0,0.07)
                .label.c5d84e0
                    background-color: #5D84E0
                .label.c5dd8a5
                    background-color: #5DD8A5
                .count
                    color #313131