@import '/src/utils/config.styl'
page
  // background: theme-color

.head-img
  width 210px
  height 210px
  margin-top 60px
  border-radius: 50%
  background: #fff

.name
  font-size: 35
  font-weight bold
  margin-top 36px
  color: #fff

.meuns
  width 654px
  background: #fff
  margin-top 36px
  box-shadow:0px 5px 7px 0px rgba(0, 0, 0, 0.08);
  border-radius:5px;
  overflow hidden

.info
  color: #999
  margin-top 156px
  font-size: 24px
  .theme
    color theme-color
