.my
  height 100vh
  background-color #F6F6F6
  .area-userinfo
    display flex
    align-items center
    background-color #fff
    margin-bottom 20px
    padding 20px 38px
    border-bottom 2px solid #d9d9d9
    .avatar
      margin-right 50px
      width 140px
      height 140px
      .icon
        width inherit
        height inherit
        border-radius 50%
        border 2px solid #f1f1f1
        background-color #f1f1f1
    .description
      color #333
      font-size 36px

