.pay-success
    .success
        background-color: #FFF2E6
        font-size: 35px
        height: 130px
        .cFF6654
            color: #FF6654
    .cell-ent
        height 102px
        padding: 0 30px
        align-items: center
        justify-content: space-between
        background: #fff
        .cell-hd
            align-items: center
        .icon
            font-size: 19px
            width: 32px
            height: 27px
            color #fff
            background: #5D84E0
            margin-right: 14px
        .cff6654
            color: #FF6654

    .welfare
        background: url('../../assets/pay-success/draw-bg.png') 0 0/100% no-repeat
        padding-top: 430px
        padding-bottom: 70px
        position: relative
        .notice
            background: linear-gradient(-90deg,rgba(238,65,9,1),rgba(242,90,27,1))
            height: 100px
            line-height: 100px
            color: #fff
            position: absolute
            left: 0
            top: 0
            width 100%
            overflow: hidden
            .text
                position: relative
                z-index 3
                margin: 0 30px
                width: max-content
            &:after
                display: block
                content: ''
                width: 100%
                height: 100%
                position: absolute
                left 0
                top: 0
                z-index 1
                background-color: rgba(0,0,0,.3)
        .turntable
            width: 97vw
            height: 78vw
            flex-wrap: wrap
            align-content: flex-start
            background: url('../../assets/pay-success/turntable.png') 0 0/contain no-repeat
            padding: 42px 56px 42px 50px
            box-sizing: border-box
            margin: auto
            .prize
                width: calc((100% - 6px) / 3)
                height: 142px
                position: relative
                margin-right: 3px
                margin-bottom: 17px
                font-size: 28px
                &:nth-child(3n)
                    margin-right: 0
                .prz3
                    position: relative
                    z-index: 3
                &:before
                    display: block
                    content: ''
                    width: 100%
                    height: 100%
                    position: absolute
                    left: 0
                    top: 0
                    z-index: 2
                    background: #fff
                    border-radius: 10px
                &:after
                    display: block
                    content: ''
                    width: 100%
                    height: 100%
                    position: absolute
                    left: 0
                    top: 14px
                    background: #FFE1DF
                    border-radius: 10px
                .image
                    width: 98px
                    height: 64px
                    margin-bottom: 7px
                .keep-out
                    position: absolute
                    left: 0
                    right: 0
                    top: 0
                    bottom: -14px
                    z-index: 6
                    background-color: rgba(0,0,0,.4)
                    border-radius: 10px
            .active
                .keep-out
                    display none
            .draw
                font-size: 44px
                color: #FEE300
                &:before
                    background: #FF0048
                &:after
                    background: #CD0E00
        .rule
            width: 97vw
            margin: 62px auto 0
            .rule-tit
                background: url('../../assets/pay-success/rule-bg.png') 0 0/100% no-repeat;
                height: 104px
                width: 604px
                margin: auto
                text-align: center
                font-size: 40px
                color: #CD0E00
                line-height: 70px
            .rule-detail
                background-color: #FFEDB6
                border-radius: 6px
                padding: 80px 31px 46px
                line-height: 48px

    .smoking-prize
        background: rgba(0,0,0,.8)
        color: #fff
        position: fixed
        left: 0
        top: 0
        right: 0
        bottom: 0
        z-index 999
        .fs40
            font-size: 40px
            margin-bottom: 54px
            .name
                font-size: 59px
                color #FFF600
        .fs30
            font-size: 30px
            margin-top: 15px
        .btn-get
            background:linear-gradient(0deg,rgba(232,183,78,1) 0%,rgba(255,235,161,1) 100%)
            box-shadow:0px 6px 8px 0px rgba(0, 0, 0, 0.51)
            border-radius:45px
            height: 89px
            border: 0
            margin-top: 80px
            font-size: 36px
            color #D8372C
