.a_head {
    background-color: #F2F2F2;
    padding: 23px 17px;
    position: relative;
}

.a_head_content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    // background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
}

.a_buyBox {
    margin-bottom: 13px;
    background-color: #fff;
    padding-left: 23px;
    padding-bottom: 23px;

    .a_one {
        font-size: 38px;
        font-family: PingFang-SC-Medium;
        font-weight: bold;
        color: rgba(49, 49, 49, 1);
        height: 90px;
        line-height: 90px;
        padding-right: 23px;

        .a_state {
            float: right;
            padding-right: 30px;
            font-size: 30px;
            line-height: 6;

        }

    }

    .a_two {
        height: 44px;
        font-size: 30px;
        font-family: PingFang-SC-Regular;
        color: rgba(153, 153, 153, 1);
        font-weight: bold;
        line-height: 44px;
        opacity: 0.8;
    }

    .a_three {
        height: 62px;
        line-height: 62px;
        font-size: 28px;
        font-weight: bold;
        font-family: PingFang-SC-Regular;
        color: rgba(49, 49, 49, 1);
    }

    .a_four {
        font-size: 30px;
        font-family: PingFang-SC-Regular;
        font-weight: bold;
        color: rgba(153, 153, 153, 1);
        height: 54px;
        opacity: 0.8;
        line-height: 54px;
    }

    .a_item {
        font-size: 28px;
        font-family: PingFang-SC-Regular;
        // font-weight:bold;
        color: rgba(49, 49, 49, 1);
        line-height: 44px;
    }

    .a_last {
        font-size: 30px;
        font-family: PingFang-SC-Regular;
        // font-weight:bold;
        color: rgba(153, 153, 153, 1);
        height: 50px;
        opacity: 0.8;
        line-height: 50px;
        text-align: center;
        margin-left: -12px;
    }

    .a_outTime {
        float: right;
        font-size: 28px;
        font-family: PingFang-SC-Regular;
        font-weight: bold;
        color: rgba(49, 49, 49, 1);
        line-height: 90px;
    }

    .a_billingInfo {
        // height: 56px;
        line-height: 30px;
        color: rgba(153, 153, 153, 1);

        .a_billingInfo_1 {
            font-size: 28px;
            font-family: PingFang-SC-Regular;
            color: rgba(49, 49, 49, 1);
            // text-align-last: justify;
            width: 150px;
            display: inline-block;
            text-align: justify;
        }

        .a_billingInfo_1:after {
            content: '';
            width: 100%;
            display: inline-block;
        }

        .a_billingInfo_2 {
            color: rgba(153, 153, 153, 0.8);
        }

        .a_billingInfo_3 {
            font-size: 28px;
            font-family: PingFang-SC-Regular;
            color: rgba(49, 49, 49, 1);
            width: calc(100% - 200px);
            display: inline-block;
            text-align: justify
        }

        .a_returnState {
            width: 134px;
            height: 44px;
            border: 1Px solid rgba(153, 153, 153, 1);
            border-radius: 5px;
            display: inline-block;
            float: right;
            // margin-right: 23px;
            // margin-top: 10px;
            margin-left: 100px;
            line-height: 44px;
            text-align: center;
        }

        .call_poster_box {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            .call_poster {
                font-size: 26px;
                font-family: PingFang SC;
                font-weight: 500;
                color: rgba(255, 68, 68, 1);
                width: 215px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border: 1px solid rgba(255, 68, 68, 1);
                border-radius: 16px;
            }
        }
    }

    .a_imgBox {
        height: 113px;
        padding-bottom: 5px;
        display: flex;

        ._img {
            height: 113px;
            width: 113px;
            border-radius: 4px;
        }

        .a_imgDes {
            flex: 1;
            padding-left: 27px;
            position: relative;

            .a_imgDes_info1 {
                width: 500px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 36px;
                margin-top: 10px;
                font-family: PingFang-SC-Bold;
                font-weight: bold;
                color: rgba(51, 51, 51, 1);
                line-height: 60px;
            }

            .a_imgDes_info2 {
                font-size: 28px;
                font-family: PingFang-SC-Regular;
                font-weight: 400;
                color: rgba(102, 102, 102, 1);
                line-height: 38px;
            }

            .a_text {
                position: absolute;
                right: 23px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 34px;
                color: #999;
            }

        }


    }

}

.a_dres {
    height: 84px;
    font-size: 28px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(49, 49, 49, 1);
    line-height: 84px;
    width: 100%;

    ._address_distance {
        float: left;
        margin-right: 10px
    }

    ._address_icon {
        float: left;
        width: 30px;
        font-size: 26px;
        color: rgba(153, 153, 153, 0.4);
    }

    ._address {
        float: left;
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.z_applyReturn {
    display: flex;
    padding: 5px 24px 25px 31px;

    .z_applyReturn_info {
        height: 91px;
        border: 1Px solid rgba(153, 153, 153, 1);
        border-radius: 10px;
        line-height: 91px;
        flex: 1;
        text-align: center;
    }
}

.a_mast {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.a_mastContent {
    position: absolute;
    top: 20%;
    left: 52px;
    right: 52px;
    height: 322px;
    background: rgba(255, 255, 255, 1);
}

.a_return {
    font-size: 36px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(49, 49, 49, 1);
    line-height: 220px;
    text-align: center;
    transition: height 0.3s;
    height: 220px;
    border-bottom: 1px solid #eee;
}

.a_returnB {
    display: flex;
    height: 101px;

    .a_returnB_info1,
    .a_returnB_info2 {
        flex: 1;
        line-height: 101px;
        text-align: center;
        color: #FF6654;
    }

    .a_returnB_info1 {
        border-right: 1px solid #eee;
    }
}

// .a_returnState {
//     width: 134px;
//     height: 44px;
//     border: 1px solid rgba(153, 153, 153, 1);
//     border-radius: 5px;
//     display: inline-block;
//     float: right;
//     margin-right: 23px;
//     margin-top: 10px;
//     line-height: 44px;
//     text-align: center;
// }

.z_refundBox {
    padding-left: 23px;
    background-color: #fff;

    .z_head {
        font-size: 38px;
        font-family: PingFang-SC-Medium;
        font-weight: bold;
        color: rgba(49, 49, 49, 1);
        height: 90px;
        line-height: 90px;
    }

    .z_item {
        height: 52px;
        line-height: 52px;

        .z_item_info1 {
            font-size: 30px;
            font-family: PingFang-SC-Regular;
            // font-weight:bold;
            color: rgba(153, 153, 153, 1);
            opacity: 0.8;
        }

        .z_item_info2 {
            font-size: 28px;
            font-family: PingFang-SC-Regular;
            font-weight: bold;
            color: rgba(49, 49, 49, 1);
            margin-left: 33px;
        }
    }
}

.a_sanCodeBox {
    height: 415px;
    box-sizing: border-box;
    padding-top: 315px;
    position: relative;

    .a_sancodeLast {
        height: 100px;
        line-height: 100px;

        .a_sanCodeBox_text {
            font-size: 30px;
            font-family: PingFang-SC-Regular;
            // font-weight:bold;
            color: rgba(153, 153, 153, 1);
        }
    }
}

.z_sanCodeContent {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 315px;
    height: 415px;

    .code_box1 {
        width: 315px;
        height: 315px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(210, 210, 210, 1);
        border-radius: 5px;
        box-sizing: border-box;
        display: flex;
        padding: 8px;

        .code_image {
            flex: 1;
            width: 306px;
            height: 306px;
        }
    }

    .code_box2 {
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 48px;
        font-family: PingFang-SC-Regular;
        font-weight: bold;
        color: rgba(49, 49, 49, 1);
    }
}